@import url(https://fonts.googleapis.com/css?family=Ovo|Muli);

body {
    background-image: url('../img/christmas-xmas-gifts-presents.jpg');
    margin: 0;
    background-size: 100%;
    font-family: 'Ovo', serif;
    color: #828A95;
}

a {
    color: #4D5259;
    text-decoration: none;
}

input {
    width: 200px;
    height: 54px;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
    border-radius: 10px;
}

.signInForm {
    width: 205px;
    margin: auto;
    padding: 33vh;
}

.signupnow {
    float: right;
    margin-right: 18px;
}

/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #E8E8E8 inset;
}

.button {
    width: 237px;
    margin-left: -16px;
}