/*@import url(https://fonts.googleapis.com/css?family=Enriqueta);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ovo|Muli);

body {
    /*font-family: 'Istok Web', sans-serif;*/
    margin: 0;
    background-color: #FAF4FF;
    /*max-width: 1080px;*/
}

 .nav > a {
    /*color: #ffffff;*/
     margin: 3px;
}

.nav {
    font-size: 16px;
    position: relative;
    left: 0;
    margin: 8px 10px 0 0;
    display: block;
}

nav {
    min-height: 40px;
    background-color: #C194D0;
    /*box-shadow: #040 0 0 20px;*/
    /*border-bottom: #16440F solid 4px;*/
}

.firsthalf {
    float: left;
    padding-left: 20px;
}

.secondhalf {
    margin-left: 10px;
    margin-right: 15px;
    float: right;
}

.logo {
    width: 35px;
    height: 31px;
}

footer {
    text-align: center;
    color: #5B5858;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
}

.bgImg {
    background-image: url('../img/christmas-xmas-gifts-presents.jpg');
    background-size: 100%;
    height: 95vh;
    background-repeat: round;
}

.fadeToWhite {
    background-size: 100%;
    height: 95vh;
    background:
        linear-gradient(
          rgb(255, 255, 255),
          rgb(255, 255, 255)
        ),
        url('../img/christmas-xmas-gifts-presents.jpg');
}

input {
    width: 200px;
    height: 54px;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 36px;
    margin-left: 31px;
}

.form {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.secondhalf > a {
    color: #FAF4FF;
    font-family: 'Muli', sans-serif;
    margin-right: 12px;
}

.secondhalf > a:hover {
    color: #F3DDFF;
}

.homeFormWrapper {
    width: 493px;
    margin-left: 35%;
    margin-right: 25%;
    padding-top: 30vh;
    float: left;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #E8E8E8 inset;
}

textarea:focus, input:focus{
    outline: none;
}
.button, .addressButton {
    width: 300px;
    margin-left: 0;
    padding-left: 11px;
    color: #FFF;
}

/*-----PROFILE STYLE---*/

.exchanges {
    border: solid 2px #16440F;
    width: 15%;
    /* display: inline-block; */
    margin: 21px;
    float: right;
    list-style: none;
    padding: 0;
    max-width: 990px;
}

.edit {
}

.editDislikeWrapper, .editLikeWrapper, .editAddressWrapper, .dontShow {
    display: none;
}

.editAddress{
    width: 422px;
    margin: auto;
}

.sentbutton {
    width: 71px;
    border-radius: 22px;
    border: none;
    /*background-color: #FF3333;*/
    color: #FFF;
    margin-left: 10%;
}

.listheader {
    font-family: 'Enriqueta', serif;
    text-align: center;
}

.exchangelist {
    margin: 0 17px;
}

main {
    width: 530px;
    margin: auto;
    text-align: center;
}

.dislikeButton, .infoButton, .likesButton {
    border: none;
    background-color: transparent;
    width: 2px;
    display: inline-block;
    /*background-image: url("https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png");*/
    /*<img src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png">*/
}

.icon {
    display: inline-block;
    width: 14px;
    margin-bottom: 14px;
}

.dislikesIcon {
    margin-left: 210px;
    padding: 2px;
}

.infoIcon {
    margin-left: 191px;
    padding: 2px;

}

.infoButton:focus, .likesButton:focus, .dislikeButton:focus {
    outline: none;
}

/*.infoIcon:focus {*/
    /*outline: none;*/
/*}*/

.likesIcon {
    margin-left: 221px;
    padding: 2px;
}

.profileHeader{
    /*border: none;*/
    /*background-color: white;*/
    /*width: 2px;*/
    display: inline-block;
}

.bigWrapper, .likes {
    margin-top: 18px;
    border: solid 1px #666;
    padding-bottom: 22px;
    /*padding-left: 13px;*/
}

.dislikes {
    margin-right: 5px;
}

.textDislikes {
    width: 200px;
}

.profileUser {
    text-align: center;
    font-family: 'Enriqueta', serif;
    font-size: 72px;
    line-height: 10px;
}

li > a:visited {
    color: #000;
    text-decoration: none;
}


.profileBody {
    /*background-image: url('../img/profile_img.jpg');*/
    background-size: 100%;
    height: 95vh;
    background-repeat: round;
}