<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title></title>-->
<!--</head>-->
{% extends "base.html" %}

{% block content %}
<body>
    <form class="form" action="/exchange/create/" method="post">
        {% csrf_token %}
        <input type="text" name="gameName" value="" placeholder="Game name"/>
        {{ form.first_name }}

        <input class="button" type="submit" value="create game" />
	</form>

    <form class="form" action="/exchange/join/" method="post">
        {% csrf_token %}
        <input type="text" name="gamePass" value="" placeholder="Game pass">
        {{ form.first_name }}

        <input class="button" type="submit" value="join game" />
    </form>
    <!--<div class="links">-->
        <!--<a href="/game/">Join gift exchange!</a><br>-->
        <!--<a href="/invite/">Create gift exchange!</a><br>-->
        <!--</div>-->
</body>
{% endblock %}

{#FFD166#}