
{% extends "base.html" %}


{% block content %}
{% load staticfiles %}
    <body>
        <h1 class="profileUser">{{ username }}</h1>

        {% if user_id == user_nameid %}
                <ul class="exchanges">
                    <li class="listheader">
                        <h3>Exchanges</h3>
                    </li>
                    {% for x, y in test %}
                        <li class="exchangelist">
                            <a href="/exchange/{{ y.id }}"><p>Exchange name: {{ y.group_name }}</p></a>
                            {% if user_id == user_nameid %}
                                <button class="sentbutton"> Sent gift </button>
                            {% endif %}
                            <a href="/profile/{{ x.giving.giveruser.id }}/"><p>Assigned person: {{ x.giving.giveruser }}</p></a>
                        </li>
                    {% endfor %}
                </ul>
        {% endif %}
        <main>


            <!-- Address -->


            <section class="bigWrapper">
                <h3 class="profileHeader">
                    Contact info
                </h3>


                {% if user_id == user_nameid %}
                    <button class="infoButton">
                    <img class="icon infoIcon" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png">
                    </button>
                {% endif %}


                <p class="dislikes">
                    {{ iuser.address }}
                </p>


                <section id="infoId" class="editAddressWrapper">
                <form id="editAddress" method="post">
                    {% csrf_token %}

                    <label for="address">Edit contact info</label>
                    <textarea id="address" rows="4" cols="50">{{ iuser.address }}</textarea>

                    <button class="addressButton" type="submit">
                        edit
                    </button>
                </form>
                </section>


            </section>
            <!-- Likes -->


            <section class="likes">
                <h3 class="profileHeader">
                    Likes
                </h3>


                {% if user_id == user_nameid %}
                    <button class="likesButton">
                    <img class="icon likesIcon" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png">
                    </button>
                {% endif %}


                <p class="dislikes">
                    {{ iuser.likes }}
                </p>


                <section id="likeId" class="editLikeWrapper">
                <form id="editLikes" method="post">
                    {% csrf_token %}

                    <label for="likes"></label>
                    <textarea id="likes" rows="4" cols="50">{{ iuser.likes }}</textarea>

                    <button class="likeButton" type="submit">
                        edit
                    </button>
                </form>
                </section>


            </section>

            <!-- Dislikes -->



            <section class="bigWrapper">

                <h3 class="profileHeader">
                    Dislikes
                </h3>

                {% if user_id == user_nameid %}
                    <button class="dislikeButton">
                        <img class=" icon dislikesIcon" src="https://cdn2.iconfinder.com/data/icons/windows-8-metro-style/512/edit.png">
                    </button>
                {% endif %}

                <p class="dislikes">
                    {{ iuser.dislikes }}
                </p>


                <section id="dislikeId" class="editDislikeWrapper">
                <form id="editDislikes" method="post">
                    {% csrf_token %}

                    <label for="dislikes"></label>
                    <textarea class="textDislikes" id="dislikes" rows="4" cols="50">{{ iuser.dislikes }}</textarea>

                    <button class="dislikeButton" type="submit">
                        edit
                    </button>
                </form>
                </section>


            </section>

        </main>

    </body>
    
{% endblock %}

{% block script_tags %}

    <script>
        var idFromUrl = '{{ user_id }}';
    </script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/linkTogether.js' %}"></script>

{% endblock %}